<div class="contextual">
<%= @page_title %>
<% if @editable %>
  <%= link_to_if_authorized(
        l(:button_edit),
        {:action => 'edit', :id => @page_id},
        :class => 'icon icon-edit',
        :accesskey => accesskey(:edit))
  %>
<% end %>
</div>

<div class="wiki wiki-page">
<%= @page_header %>
<%= @page_content %>
<%= @page_footer %>
<em>Last modified: <%= format_time(@page_modified) %> by <%= @page_author %></em>
</div> 

<% content_for :sidebar do %>
  <%= @page_sidebar %>
<% end %>
